<h1>Create a Cohort</h1>


<form class="" action="/cohorts" method="post">
  Cohort name: <input type="text" name="name" value=""><br>
  Course ID: <input type="number" name="courseId" value=""><br>
  Start Date: <input type="date" name="startDate" value=""><br>
  End Date: <input type="date" name="endDate" value=""><br>
 <p>
  <input type="submit" name="commit" value="Create Cohort">
</p>
</form>
