<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Admin Panel - NodeJS</title>
  </head>
  <body>
<h1>ADMIN PANEL</h1>
    <p>
      something something
    </p>

  </body>
</html>
