<h1>Register as a Student</h1>

<form class="" action="/users" method="post"><br>
  Full Name<input type="text", name="name" value=""><br>
  Email Address <input type="email", name="email" value=""><br>
  Password <input type="password", name="password" value=""><br>

  <label for="">Highest Education completed</label>
  <input type="radio", name="education" value="1"> High School<br>
  <input type="radio", name="education" value="2"> BS<br>
  <input type="radio", name="education" value="3"> Masters<br>
  <input type="radio", name="education" value="4"> PhD<br>
  <p>
  <input type="submit" name="Commit" value="Create account">
  </p>

</form>
